@model (string SearchTerm, string FromDate, string ToDate, string MDA_No, string Vehicle_No, string DI_No, string Shipper_QR_Code, List<dynamic> listPallate, bool isPrint, List<Dispatch_System.SelectListItem_Custom> SelectList)

@{
	ViewData["Title"] = "Pallate Details";
}

@if (Model.isPrint == false && Model.SearchTerm == "-")
{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
else if (Model.isPrint == true)
{
	Layout = "~/Views/Shared/_Layout_Print.cshtml";
}

@if (Model.isPrint == false && Model.SearchTerm == "-")
{
	<section class="content-header bg-gradient-green" style="border-radius: 0.25rem">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="text-align:center;">
					<h3 class="font-weight-bold">Pallate Details</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="content p-0">
		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-12 card">
					<div class="card-body pb-0">
						<div class="panel-divider">
							<span>Search Details</span>
							<div class="row no-gutters p-0 m-0">
								<div class="col-10 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
									<div class="form-horizontal">
										<div class="card-body py-1 px-0">

											<div class="row no-gutters p-0 m-0">
												<div class="form-group col-md-4 mx-3">
													<label class="col-form-label" style="align-content:start">Pallate No.</label>
													<select id="Pallate_No" name="Pallate_No" class="form-control form-control-sm select2-tags" style="width: 100%;">
														@if (Model.SelectList != null)
														{
															foreach (var item in Model.SelectList)
															{
																<option value="@item.Value">@item.Text</option>
															}
														}
													</select>
												</div>
											</div>
											<div class="row no-gutters p-0 m-0">
												<div class="form-group col-md-3 mx-3">
													<label class="col-form-label" style="align-content:start">MDA No.</label>
													<input type="text" class="form-control form-control-sm" id="MDA_No" autocomplete="off">
												</div>
												<div class="form-group col-md-3 mx-3">
													<label class="col-form-label" style="align-content:start">Vehicle No.</label>
													<input type="text" class="form-control form-control-sm" id="Vehicle_No" autocomplete="off">
												</div>
												<div class="form-group col-md-3 mx-3">
													<label class="col-form-label" style="align-content:start">DI No.</label>
													<input type="text" class="form-control form-control-sm" id="DI_No" autocomplete="off">
												</div>
											</div>
											<div class="row no-gutters p-0 m-0">
												<div class="form-group col-md-3 mx-3">
													<label class="col-form-label" style="align-content:start">From Date</label>
													<input type="text" class="form-control form-control-sm datepicker" id="FromDate" autocomplete="off">
												</div>
												<div class="form-group col-md-3 mx-3">
													<label class="col-form-label" style="align-content:start">To Date</label>
													<input type="text" class="form-control form-control-sm datepicker" id="ToDate" data-max="@DateTime.Now.ToString("dd/MM/yyyy").Replace("-", "/")" autocomplete="off">
												</div>
												<div class="form-group col-md-3 mx-3">
													<label class="col-form-label" style="align-content:start">Shipper QR Code</label>
													<input type="text" class="form-control form-control-sm" id="Shipper_QR_Code" autocomplete="off">
												</div>
											</div>
											<div class="form-group row col-sm-12 text-center ml-5 pl-5">
												<button type="button" class="btn btn-info btn-flat" onclick="fnLoad_DataTable()">Search</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel-divider">
							<span>Export Indent Details </span>
							<div class="row no-gutters p-0 m-0">
								<div class="col-12 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
									<div class="card-body py-1 px-0" id="div_DataTable"></div>
								</div>
							</div>
						</div>

					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClear()">Clear</button>
						<span class="float-right mr-3"><span class="text-danger">*</span> Mandatory Fields</span>
					</div>
				</div>
			</div>
		</div>
	</section>

}
else if (Model.isPrint == true && Model.listPallate != null)
{
	dynamic objPallate = Model.listPallate.FirstOrDefault();

	<div class="row col-12 mb-3">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="text-align:center;">
					<h2 class="font-weight-bold">@(objPallate != null && !string.IsNullOrEmpty(objPallate.Plant_Name) ? objPallate.Plant_Name : "IFFCO NANO FERTILIZER PLANT - KALOL") </h2>
				</div>
				<br />
				<div class="col-sm-12" style="text-align:center;">
					<h2 class="font-weight-bold"><b>Pallate Details</b></h2>
				</div>
				<br />
				<div class="col-sm-12" style="text-align:center;">
					<h5 class="font-weight-bold">

						@{
							var pageTitle = "";
							var pallate_No = "";// Model.listPallate.Where(x => );

							if (Model.SearchTerm != null && long.TryParse(Model.SearchTerm, out long pallate_no_id) && pallate_no_id > 0)
								pallate_No = Model.listPallate.Where(x => (long)x.Id == pallate_no_id).Select(x => (string)x.Pallate_No).FirstOrDefault();
							else if (Model.SearchTerm != null)
								pallate_No = Model.listPallate.Where(x => Convert.ToString(x.Pallate_No).ToLower() == Convert.ToString(Model.SearchTerm).ToLower()).Select(x => (string)x.Pallate_No).FirstOrDefault();

							pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(pallate_No) ? "" : $"Pallate No. : {pallate_No}");
							pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.MDA_No) ? "" : $"MDA No. : {Model.MDA_No}");
							pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.DI_No) ? "" : $"DI No. : {Model.DI_No}");
							pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.Vehicle_No) ? "" : $"Vehicle No. : {Model.Vehicle_No}");
							pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.FromDate) ? "" : $"From Date : {Model.FromDate}");
							pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.ToDate) ? "" : $"To Date : {Model.ToDate}");

							pageTitle = pageTitle.Trim();

							while (pageTitle.EndsWith(",")) pageTitle = pageTitle.TrimEnd(',').Trim();

						}
						<b>@pageTitle</b>
					</h5>
				</div>
				<br />
				<div class="col-sm-12" style="text-align:right;">
					<h5 class="font-weight-bold"><b>Printed on : @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt").Replace("-", "/")</b></h5>
				</div>
			</div>
		</div>
	</div>
}
else if (Model.listPallate != null)
{
	<div class="form-group row mb-3">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="text-align:center;">
					<h2 class="font-weight-bold" id="lableReportTitle">Pallate Details</h2>
					<br />
					<div class="col-sm-12" style="text-align:center;">
						<h5 class="font-weight-bold">

							@{
								var pageTitle = "";
								var pallate_No = "";// Model.listPallate.Where(x => );

								if (Model.SearchTerm != null && long.TryParse(Model.SearchTerm, out long pallate_no_id) && pallate_no_id > 0)
									pallate_No = Model.listPallate.Where(x => (long)x.Id == pallate_no_id).Select(x => (string)x.Pallate_No).FirstOrDefault();
								else if (Model.SearchTerm != null)
									pallate_No = Model.listPallate.Where(x => Convert.ToString(x.Pallate_No).ToLower() == Convert.ToString(Model.SearchTerm).ToLower()).Select(x => (string)x.Pallate_No).FirstOrDefault();

								pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(pallate_No) ? "" : $"Pallate No. : {pallate_No}");
								pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.MDA_No) ? "" : $"MDA No. : {Model.MDA_No}");
								pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.DI_No) ? "" : $"DI No. : {Model.DI_No}");
								pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.Vehicle_No) ? "" : $"Vehicle No. : {Model.Vehicle_No}");
								pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.FromDate) ? "" : $"From Date : {Model.FromDate}");
								pageTitle += (string.IsNullOrEmpty(pageTitle) ? "" : ", ") + (string.IsNullOrEmpty(Model.ToDate) ? "" : $"To Date : {Model.ToDate}");

								pageTitle = pageTitle.Trim();

								while (pageTitle.EndsWith(",")) pageTitle = pageTitle.TrimEnd(',').Trim();

							}
							<b>@pageTitle</b>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row mt-2">
		<button class="btn btn-info mr-2" onclick="fnPrint_Report('@Url.Action("Pallate","Reports", new { area = "Export"})?searchTerm=@(Model.SearchTerm)&FromDate=@(Model.FromDate)&ToDate=@(Model.ToDate)&MDA_No=@(Model.MDA_No)&Vehicle_No=@(Model.Vehicle_No)&DI_No=@(Model.DI_No)&Shipper_QR_Code=@(Model.Shipper_QR_Code)&isPrint=true')">Print</button>
	</div>
}

@if (Model.listPallate != null)
{
	<div class="row col-12 mt-5">

		<table id="table_Common_Main" class="table table-bordered w-100 border-0">
			<tbody>
				@{
					foreach (dynamic objPallate in Model.listPallate)
					{
						<tr>
							<td>Pallate No. : <b>@objPallate.Pallate_No &nbsp; (@objPallate.SSCC)</b></td>
							<td>Pallate Type : @objPallate.Pallate_Type_Text</td>
							<td>No. of Shipper : <b>@objPallate.Shipper_Qty</b> </td>
							<td>No. of Bottle : <b>@objPallate.Bottle_Qty</b></td>
						</tr>
						<tr>
							<td colspan="2">Status : <b>@objPallate.Pallate_Status</b></td>
							<td>Destination Country : <b>@objPallate.Dest_Country</b></td>
							<td>Mode of Dispatch : @objPallate.Dispatch_Mode_Text</td>
						</tr>
						@if (!string.IsNullOrEmpty(objPallate.MDA_No))
						{
							<tr>
								<td>Export Indent No. : <b>@objPallate.DI_No</b></td>
								<td>MDA No. : <b>@objPallate.MDA_No</b></td>
								<td>Vehicle No. : <b>@objPallate.Vehicle_No</b></td>
								<td>Gate In Date & Time : <b>@objPallate.Gate_In_dt</b> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Gate Out Date & Time : <b>@objPallate.Gate_Out_dt</b></td>
							</tr>
						}

						<tr>
							<td colspan="4">
								@if (objPallate.Shipper_QR_Code != null && ((List<Dispatch_System.Pallate_Shipper>)objPallate.Shipper_QR_Code).Count() > 0)
								{
									<table id="table_Common" class="table table-bordered w-100 p-0 m-0 border-0">
										<tbody>
											<tr><th colspan="6" class="p-0 m-0 border-0">Shipper QR Code List</th></tr>

											@{
												List<(int Sr_No, string Qr_Code)> listQRCode = ((List<Dispatch_System.Pallate_Shipper>)objPallate.Shipper_QR_Code).Select(x => (x.Sr_No, x.QR_Code)).ToList();

												var cnt = 0;

												while (cnt < listQRCode.OrderBy(x => x.Sr_No).Count())
												{
													List<(int Sr_No, string Qr_Code)> listQR = listQRCode.OrderBy(x => x.Sr_No).Skip(cnt).Take(2).ToList();

													<tr>
														@foreach (var qr_code in listQR)
														{
															<td colspan="2" class="border-0">@(qr_code.Sr_No + ".   " + qr_code.Qr_Code)</td>
														}
														@if (listQR.Count() < 2)
														{
															for (int i = listQR.Count(); i < 2; i++)
															{
																<td colspan="3" class="border-0 border-right">&nbsp;</td>
															}
														}

													</tr>

													cnt += 2;
												}
											}
										</tbody>
									</table>
								}
							</td>
						</tr>
						<tr> <td colspan="4" class="border-0">&nbsp;</td> </tr>
					}
				}
			</tbody>
		</table>

	</div>

}



@if (Model.isPrint == false && Model.SearchTerm == "-")
{
	@section Scripts {

	<script type="text/javascript">

		var divToPrint_HTML = '';

		$(document).ready(function () {

		});

		function printDiv($selector) {

			var divToPrint = $($selector);

			var newWin = window.open('', 'Print-Window');

			newWin.document.open();

			let tagToAdd_html = document.createElement('html');

			let tagToAdd_body = document.createElement('body');

			tagToAdd_body.appendChild(divToPrint_HTML);

			tagToAdd_html.appendChild(tagToAdd_body);

			newWin.document.appendChild(tagToAdd_html);

			newWin.document.close();

		}

		function fnLoad_DataTable() {

			ShowLoader(true);

			$('#div_DataTable').html('');

			var url = '';

			debugger;
			var searchTerm = $('#Pallate_No option:selected').val();
			if (typeof searchTerm == 'undefined' || searchTerm == null || searchTerm == "") searchTerm = " ";
			url += 'searchTerm=' + searchTerm + '';

			var FromDate = $('#FromDate').val();
			if (typeof FromDate != 'undefined' && FromDate != null && FromDate.length > 0) url += '&FromDate=' + FromDate;

			var ToDate = $('#ToDate').val();
			if (typeof searchTerm != 'undefined' && searchTerm != null && searchTerm.length > 0) url += '&ToDate=' + ToDate;

			var MDA_No = $('#MDA_No').val();
			if (typeof MDA_No != 'undefined' && MDA_No != null && MDA_No.length > 0) url += '&MDA_No=' + MDA_No;

			var Vehicle_No = $('#Vehicle_No').val();
			if (typeof Vehicle_No != 'undefined' && Vehicle_No != null && Vehicle_No.length > 0) url += '&Vehicle_No=' + Vehicle_No;

			var DI_No = $('#DI_No').val();
			if (typeof DI_No != 'undefined' && DI_No != null && DI_No.length > 0) url += '&DI_No=' + DI_No;

			var Shipper_QR_Code = $('#Shipper_QR_Code').val();
			if (typeof Shipper_QR_Code != 'undefined' && Shipper_QR_Code != null && Shipper_QR_Code.length > 0) url += '&Shipper_QR_Code=' + Shipper_QR_Code;


			if (typeof url != 'undefined' && url != null && url.length > 0) {

				url = '@Url.Action("Pallate", "Reports", new { area = "Export" })?' + url;

				$.ajax({
					type: "GET",
					url: url,
					data: null,
					contentType: "application/json; charset=utf-8",
					dataType: "html",
					success: function (response) {

						setTimeout(function () {

							$('#div_DataTable').html(response);

							ShowLoader(false);

						}, 1000);

					},
					failure: function (response) { CommonAlert_Error(null) },
					error: function (response) { CommonAlert_Error(null) }
				});

			}
			else { ShowLoader(false); }
		}

		function fnClear() {

			$('#inputSearch').val('');
			$('#div_DataTable').html('');

		}

		function fnPrint_Report($url) {

			var printWindow = window.open($url, '_blank');

			if (printWindow) {
				printWindow.onload = function () {
					printWindow.print();
				};
			}
		}

	</script>
	}
}