@model List<Dispatch_System.MDA>

<div class="row col-12 mb-3">
    <button type="button" class="btn btn-info btn-flat px-3 mr-3" onclick="fnSelect_MDA()">Select</button>
    <button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClear_MDA()">Clear</button>
    <button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClose_Modal()">Close</button>
</div>

<div class="row col-12 w-100">
    <table id="table_Common" class="table table-bordered table-hover table-striped w-100">
        <thead>
            <tr>
                <th hidden width="0%">#</th>
                <th hidden width="0%">MDA Id</th>
                <th width="3%">Vehicle Number</th>
                <th width="3%">MDA Number</th>
                <th width="3%">DI No.</th>
                <th width="3%">Plant Code</th>
                <th width="3%">MDA Date</th>
                <th width="30%">Transporter</th>
                <th width="30%">Product</th>
                <th width="20%">Driver Name</th>
                <th width="5%">Contact No.</th>
                <th hidden width="0%"></th>
                <th hidden width="0%"></th>
                <th hidden width="0%"></th>
                <th hidden width="0%"></th>
                <th hidden width="0%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td hidden>@item.sr_no</td>
                        <td hidden class="col_unique">@item.Id</td>
                        <td class="col_match">@item.vehicle_no</td>
                        <td>@item.mda_no</td>
                        <td>@item.di_no</td>
                        <td class="col_match">@item.plant_cd</td>
                        <td>@item.mda_dt</td>
                        <td>@item.tptr_name</td>
                        <td>@item.prod_name</td>
                        <td>@item.driver</td>
                        <td>@item.mobile_no</td>
                        <td hidden>@item.Required_Shipper</td>
                        <td hidden>@item.Loaded_Shipper</td>
                        <td hidden>@item.Expected_Shipper</td>
                        <td hidden>@item.Vehicle_Shippers</td>
                        <td hidden>@item.bag_nos</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>