@model ResponseModel<Designation>
@{
	Layout = null;
	var IndexPageUrl = "/" + ViewContext.RouteData.Values["Area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString() + "/Index";
}

<div class="col-12">
	<div class="card card-primary card-outline">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<h3 class="card-title">@(Model.Obj.Id > 0 ? "Edit " : "Create") Designation</h3>
				<input type="text" class="form-control d-none" id="Id" name="Id" value="@(Model.Obj != null && Model.Obj.Id > 0 ? Model.Obj.Id.ToString() : "")">

				<div class="card-tools">
					<button type="button" class="btn btn-primary btn-sm" title="Back To List" onclick="fnBackToList('@IndexPageUrl')">
						<i class="fas fa-arrow-left"></i> Back To List
					</button>
				</div>
			</div>

			<div class="card-body">
				<div class="form-group row">

					<label for="Name" class="col-sm-2 col-form-label text-right">Designation<span style="color:red">*</span></label>
					<div class="col-sm-4">
						<input type="text" class="form-control form-control-sm" name="Name" value="@Model.Obj.Name" maxlength="80"
							   data-required data-msg="The Designation field is required." autocomplete="off" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">Status <span style="color:red">&nbsp;</span></label>
					<div class="col-sm-4">
						<div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success border-0">
							<input type="checkbox" class="custom-control-input"
								   id="switch_Status" name="IsActive" @(Model.Obj == null || Model.Obj.IsActive == true || Model.Obj.Id == 0 ? "checked" : "")
								   onchange="fnChange_Switch(this, 'label_Switch_Status')">
							<label class="custom-control-label" for="switch_Status" id="label_Switch_Status" data-true="Active" data-false="Inactive">@((Model.Obj != null && Model.Obj.IsActive == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Active" : "Inactive")</label>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer text-center">
				<button type="submit" class="btn btn-success btnSubmit">Save</button>
				<button type="button" class="btn btn-danger" onclick="fnCloseParialView('divformSave', '#table_Common_SrNo');">Cancel</button>
			</div>
		</div>
	</div>
</div>
