@model ResponseModel<MDA>

@{
	ViewData["Title"] = "MDA Status View";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var Url_RootToController = Url.Content("~/") + ViewContext.RouteData.Values["area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString();

	string hashZ = "@";

}


<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">MDA Status Report</h1>
			</div>

		</div>
	</div>
</div>
<section class="content">
	<div class="container-fluid">
		<div class="card card-primary card-outline">

			<div class="card-body">

				<div class="panel-divider">
					<span>Search</span>
					<div class="row no-gutters p-0 m-0">
						<div class="col-12 row no-gutters">
							<div class="form-group col-md-2 mx-3">
								<label class="col-form-label" style="align-content:start">MDA No</label>
								<input type="text" class="form-control form-control-sm" id="MDA_No" autocomplete="off">
							</div>
							<div class="form-group col-md-2 mx-3">
								<label class="col-form-label" style="align-content:start">MDA Date From</label>
								<input type="text" class="form-control form-control-sm datepicker" id="FromDate" data-value="@DateTime.Now.AddDays(-30).ToString("dd/MM/yyyy").Replace("-", "/")" data-max="@DateTime.Now.ToString("dd/MM/yyyy").Replace("-", "/")" autocomplete="off">
							</div>
							<div class="form-group col-md-2 mx-3">
								<label class="col-form-label" style="align-content:start">MDA Date To</label>
								<input type="text" class="form-control form-control-sm datepicker" id="ToDate" data-value="@DateTime.Now.ToString("dd/MM/yyyy").Replace("-", "/")" data-max="@DateTime.Now.ToString("dd/MM/yyyy").Replace("-", "/")" autocomplete="off">
							</div>
							<div class="form-group col-md-2 mx-3">
								<label class="col-form-label" style="align-content:start">Truck No</label>
								<input type="text" class="form-control form-control-sm" id="Truck_No" autocomplete="off">
							</div>
							<div class="form-group col-md-2 mx-3">
								<label class="col-form-label" style="align-content:start">Invoice QR Code</label>
								<input type="text" class="form-control form-control-sm" id="Invoice_Qr_Code" autocomplete="off">
							</div>
						</div>

						@* <div class="col-12 no-gutters my-3">
                        <div class="form-group mx-3 text-center">
                        <label class="col-form-label text-right" style="align-content:start">&nbsp;</label>

                        <button type="button" class="btn btn-info btn-md pull-right mr-2" onclick="fnLoadTableData()"> Search </button>
                        <button type="button" class="btn btn-danger btn-md pull-right mr-2" onclick="fnClear()"> Clear </button>
                        </div>
                        </div>*@
						<div class="col-12 no-gutters my-3">
							<div class="form-group mx-3 text-center">
								<label class="col-form-label text-right" style="align-content:start">&nbsp;</label>

								<button type="button" class="btn btn-info btn-md pull-right mr-2" onclick="fnExecute_Report(false)"> Search </button>
								<button type="button" class="btn btn-danger btn-md pull-right mr-2" onclick="fnClear()"> Clear </button>
								@* <button type="button" class="btn btn-primary btn-md pull-right mr-2" onclick="fnExecute_Report(true)"> Print </button>
                                <button type="button" class="btn btn-success btn-md pull-right mr-2" id="btnExport"> Export </button> *@
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="panel-divider">
					<span>Details</span>
					<div class="row no-gooters">
						<div class="col-12 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
							<div class="card-body py-1 px-0" id="div_DataTable"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



@section Scripts {

	<script type="text/javascript">

		function fnClear() {
			$('#MDA_No').val("");
			$('#Truck_No').val("");
			$('#Invoice_Qr_Code').val("");
			$('#FromDate').val("");
			$('#ToDate').val("");
			$('#div_DataTable').html('');
		}

		$("#btnExport").click(function () {
			$("#div_DataTable table").table2excel({
				filename: "MDAStatus.xls"
			});
			return false;
		});

		$(function () { });

		function fnExecute_Report($isPrint) {

			$('#div_DataTable').html('');

			var Truck_No = $('#Truck_No').val();
			var FromDate = $('#FromDate').val();
			var ToDate = $('#ToDate').val();
			var MdaNo = $('#MDA_No').val();
			var InvoiceQrCode = $('#Invoice_Qr_Code').val();

			// if ((typeof Truck_No != 'undefined' && Truck_No != null && Truck_No.length > 0)
			//     || (typeof FromDate != 'undefined' && FromDate != null && FromDate.length > 0)
			//     || (typeof ToDate != 'undefined' && ToDate != null && ToDate.length > 0)
			// ) {

			var $url = '@Url.Action("GetData", "MdaStatus", new { area = "Admin" })?Truck_No=' + Truck_No + '&From_Date=' + FromDate + '&To_Date=' + ToDate + '&Mda_No=' + MdaNo + '&Invoice_Qr_Code=' + InvoiceQrCode + '&isPrint=' + $isPrint;

			if ($isPrint == true) {
				var printWindow = window.open($url, '_blank');

				if (printWindow) {
					printWindow.onload = function () {

						var css = '@hashZ' + 'page { size: landscape; }',
							head = printWindow.document.head || printWindow.document.getElementsByTagName('head')[0],
							style = document.createElement('style');

						style.type = 'text/css';
						style.media = 'print';

						if (style.styleSheet) {
							style.styleSheet.cssText = css;
						} else {
							style.appendChild(document.createTextNode(css));
						}

						head.appendChild(style);

						//don't forget to find and remove style if you don't want all you documents stay in landscape

						printWindow.print();
					};
				}
			}
			else {

				ShowLoader(true);

				$.ajax({
					type: "GET",
					url: $url,
					data: null,
					contentType: "application/json; charset=utf-8",
					dataType: "html",
					success: function (response) {

						setTimeout(function () {

							$('#div_DataTable').html(response);

							try { fnLoadCommonTable_Buttons('#div_DataTable table'); } catch { }

							ShowLoader(false);

						}, 1000);

					},
					failure: function (response) {
						ShowLoader(false);
						CommonAlert_Error(null);
					},
					error: function (response) {
						ShowLoader(false);
						CommonAlert_Error(null);
					}
				});
			}
			// }
			// else
			//ShowLoader(false);
		}

	</script>
}

