@model ResponseModel<Plant>

@{
	ViewData["Title"] = "Plant";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Plant</h1>
			</div>
			<div class="col-sm-6">
				<div class="float-sm-right">
					@* @if (Common.IsAdmin())
					{ *@
						<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide" onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm","Plant", new {  area = "Admin" })');">
							<i class="fas fa-plus"></i> &nbsp; Add Plant
						</button>
					@* } *@
					<button type="button" id="btnBackToList" class="btn btn-warning btn-md pull-right mr-2 divformSave_Display d-none" onclick="fnBackToList();">
						<i class="fas fa-arrow-left"></i> &nbsp; Back To List
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="content">
	<div class="container-fluid">
		<div class="row no-gutters divformSave_Display d-none" style="margin: 5px !important;">
			<div class="col-12">
				<form id="formSave" asp-area="Admin" asp-controller="Plant" asp-action="Save" method="post" class="form-horizontal" enctype="multipart/form-data">
					<div class="row no-gutters" id="divformSave"></div>
					<div class="clearfix"></div>
					<hr />
				</form>
			</div>
		</div>
		<div class="row" id="divList">
			<div class="col-12">
				<div class="card card-primary card-outline">

					<div class="card-body">
						<div class="row no-gooters">
							<div class="col-md-12 my-1">
								<table class="table table-bordered table-striped table_Common_SrNo">
									<thead>
										<tr>
											<th>#</th>
											<th width="10%">Plant Code</th>
											<th>Plant Name</th>
											<th>Plant Address</th>
											<th>ERP Unit Code</th>
											<th width="5%">Status</th>
											<th width="5%">Action</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model.ListObj)
										{
											<tr>
												<td></td>
												<td width="10%">@item.PlantCode</td>
												<td>@item.Plant_Name</td>
												<td>@item.PlantAddress</td>
												<td>@item.UnitCode</td>
												<td class="text-center"><span class="badge bg-@(item.IsActive == true ? "success" : "danger")">@(item.IsActive == true ? "Active" : "Inactive")</span></td>
												<td>
													<div class="btn-group">
														@* @if (Common.IsAdmin())
														{ *@
															<button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
																	onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm","Plant", new {  area = "Admin" })?Id=@item.PlantID');">
																<i class="far fa-edit"></i>
															</button>
														@* }
														@if (Common.IsAdmin())
														{ *@
															<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
																	onclick="fnDelete_Confirm('@Url.Action("DeleteConfirmed","Plant", new {  area = "Admin" })?Id=@item.PlantID');">
																<i class="far fa-trash-alt"></i>
															</button>
														@* } *@
													</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

