@using System.Globalization;
@model (string PageTitle_Primary, string PageTitle_Secondary, dynamic objFilter, List<MDA_Status> List, bool withDetail, bool isPrint)

@if (Model.isPrint == true)
{
    ViewData["Title"] = "MDA Dispatch Count Summary Report";
    Layout = "~/Views/Shared/_Layout_Print.cshtml";
}

<div class="row col-12 mb-3">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12" style="text-align:center;">
                <h2 class="font-weight-bold">@(!string.IsNullOrEmpty(Model.PageTitle_Primary) ? Model.PageTitle_Primary : "IFFCO NANO FERTILIZER PLANT - KALOL") </h2>
            </div>
            <br />
            <div class="col-sm-12" style="text-align:center;">

                @if (!string.IsNullOrEmpty(Model.PageTitle_Secondary))
                {
                    <h5 class="font-weight-bold">
                        MDA Dispatch Count Summary : @Model.PageTitle_Secondary
                    </h5>
                }
                else
                {
                    <h4 class="font-weight-bold">MDA Dispatch Count Summary Detail </h4>
                }
            </div>
            <br />
            <div class="col-sm-12 @(Model.isPrint == true ? "":"d-none")" style="text-align:right;">
                <h5 class="font-weight-bold"><b>Printed on : @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt").Replace("-", "/")</b></h5>
            </div>
            <br />
        </div>
    </div>
</div>

<div class="row col-12 mt-5 text-center table-responsive">

    @* <table id="table_Common" class="table table-bordered w-100 divDetail @((Model.withDetail == true) ? "" : "d-none")"> *@
    <table class="table table-bordered w-100 table_Common divDetail" id="tblDispatchCounty">
        <thead>
            <tr>
                <th width="0%">#</th>
                <th width="10%">Dispatch Date</th>
                <th width="10%">No of Truck</th>
                <th width="10%">No of MDA</th>
                <th width="10%">No of Shipper</th>
                <th width="10%">No of Bottles</th>
                <th>Product</th>
                <th hidden>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.List != null && Model.List.Count() > 0)
            {
                @foreach (var item in Model.List.OrderBy(x => x.SrNo).ToList())
                {
                    <tr>
                        <td>@item.SrNo</td>
                        <td>@item.MDAReceiveDate</td>
                        <td>@item.TruckNo</td>
                        <td>@item.MDANo</td>
                        <td>@item.TotalShipperQTY</td>
                        <td>@item.DispatchedQtyKL</td>
                        <td>@item.SkuDesc</td>
                        <td hidden>&nbsp;</td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="7"><span class="w-100">No any records found.</span></td></tr>
            }
        </tbody>

    </table>

</div>
