@model Dispatch_System.ResponseModel<Dispatch_System.Pallate>
@{
    Layout = null;
    var IndexPageUrl = "/" + ViewContext.RouteData.Values["Area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString() + "/Index";
}

<div class="card card-primary card-outline w-100 my-3">

    <div class="card-body p-0 m-0">
        <form id="formSave" action="@Url.Action("Save", "Pallate", new { area = "Export" })" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="attachment-block clearfix m-0 p-3">

                <h4 class="row col-12 text-center text-bold ">Prepare Pallate No.</h4>

                <div class="row">
                    <label for="Pallate_No" class="col-sm-1 col-form-label text-right">Pallate No. <span style="color:red">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" name="Pallate_No" value="@Model.Obj.Pallate_No" maxlength="50" />
                        <input type="text" class="form-control d-none" name="DI_No" value="@Model.Obj.DI_No" readonly>
                        <input type="text" class="form-control d-none" name="Id" value="@Model.Obj.Id" readonly>
                    </div>

                    <label for="Pallate_Type" class="col-sm-1 col-form-label text-right">Pallate Type <span style="color:red">*</span></label>
                    <div class="col-sm-2">
                        <select id="Pallate_Type" name="Pallate_Type" class="form-control select2 w-100">
                            @foreach (var item in Model.SelectListItems.Where(x => x.Group == "T"))
                            {
                                if (item.Value == (Model.Obj.Pallate_Type ?? ""))
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>

                    <label for="Shipper_Qty" class="col-sm-1 col-form-label text-right">No. of Shipper <span style="color:red">*</span></label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm text-right isNumberKey" name="Shipper_Qty" value="@Model.Obj.Shipper_Qty" />
                    </div>

                    <label for="Dispatch_Mode" class="col-sm-1 col-form-label text-right">Dispatch Mode <span style="color:red">*</span></label>
                    <div class="col-sm-1">
                        <select id="Dispatch_Mode" name="Dispatch_Mode" class="form-control select2 w-100">
                            @foreach (var item in Model.SelectListItems.Where(x => x.Group == "D"))
                            {
                                if (item.Value == (Model.Obj.Dispatch_Mode ?? ""))
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row text-center">
                    <label class="col-sm-2 col-form-label text-right">&nbsp;</label>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-success btnSubmit">Save</button>
                        <button type="button" class="btn btn-danger" onclick="fnCancel();">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>