@using System.Globalization;
@model (string PageTitle_Primary, string PageTitle_Secondary, dynamic objFilter, List<MDA_Status> List, bool withDetail, bool isPrint)

@if (Model.isPrint == true)
{
    ViewData["Title"] = "MDA Status Report";
    Layout = "~/Views/Shared/_Layout_Print.cshtml";
}

<div class="row col-12 mb-3">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12" style="text-align:center;">
                <h2 class="font-weight-bold">@(!string.IsNullOrEmpty(Model.PageTitle_Primary) ? Model.PageTitle_Primary : "IFFCO NANO FERTILIZER PLANT - KALOL") </h2>
            </div>
            <br />
            <div class="col-sm-12" style="text-align:center;">

                @if (!string.IsNullOrEmpty(Model.PageTitle_Secondary))
                {
                    <h5 class="font-weight-bold">
                        MDA Status Detail : @Model.PageTitle_Secondary
                    </h5>
                }
                else
                {
                    <h4 class="font-weight-bold">MDA Status Detail </h4>
                }
            </div>
            <br />
            <div class="col-sm-12 @(Model.isPrint == true ? "":"d-none")" style="text-align:right;">
                <h5 class="font-weight-bold"><b>Printed on : @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt").Replace("-", "/")</b></h5>
            </div>
            <br />
        </div>
    </div>
</div>

<div class="row col-12 mt-5 text-center">

    @* <table id="table_Common" class="table table-bordered w-100 divDetail @((Model.withDetail == true) ? "" : "d-none")"> *@
    <table class="table table-bordered w-100 table_Common divDetail"id="tblmain">
        <thead>
            <tr>
                <th hidden>#</th>
                <th>MDA No.</th>
                @*<th>MDA Status.</th>*@
                <th>MDA Date</th>
                <th>Truck No</th>
                <th>Driver Name</th>
                <th>Customer Name</th>
                @* <th>SKU Code</th> *@
                <th>SKU Name</th>
                <th>Destination</th>
                @* <th>Loading In Date</th>
                <th>Loading Out Date</th> *@
                <th>Loading Bay #</th>
                @* <th>Loading Bay Operator: Printed To</th> *@
                <th>MDA Qty</th>
                @*<th>MDA Update Qty</th>*@
                <th>Loaded Qty</th>
                <th>Dispatch Date-Time</th>
                <th>Invoice #</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.List != null && Model.List.Count() > 0)
            {
                @foreach (var item in Model.List.OrderBy(x => x.SrNo).ToList())
                {
                    <tr>
                        <td hidden>@item.SrNo</td>
                        <td>@item.MDANo</td>
                        @*<td>@item.MDAStatus</td>*@
                        <td>@item.MDAReceiveDate</td>
                        <td>@item.TruckNo</td>
                        <td>@item.DriverName</td>
                        <td>@item.CustomerName</td>
                        @* <td>@item.SKUCode</td> *@
                        <td>@item.SkuDesc</td>
                        <td>@item.Destination</td>
                        @* <td>@item.LoadingInDateTimePrintedFrom</td>
                        <td>@item.LoadingOutDateTimePrintedFrom</td> *@
                        <td>@item.LoadingBayPrintedTo</td>
                        @* <td>@item.LoadingBayOperatorTo</td> *@
                        <td>@item.MDAQty</td>
                        @*<td>@item.MDAUpdateQty</td>*@
                        <td>@item.LoadedQty</td>
                        <td>@item.DispatchDateTime</td>
                        <td>@item.InvoiceQrCode</td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="13"><span class="w-100">No any records found.</span></td></tr>
            }
        </tbody>

    </table>

</div>
