@model ResponseModel<Vendor>
@{
	Layout = null;
	var IndexPageUrl = "/" + ViewContext.RouteData.Values["Area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString() + "/Index";
}

<div class="col-12">
	<div class="card card-primary card-outline">

		<div class="card-body @(Model.Obj.Id > 0 ? " pt-0 mt-0":"") pt-3">
			<input type="text" class="form-control d-none" name="Id">

			<div class="panel-divider">
				<span>Vendor Details</span>
				<div class="row no-gutters p-0 m-0">
					<div class="col-12 card card-primary p-0 m-0 shadow-none mt-3">
						<div class="form-group row">
							<label for="VendorCode" class="col-sm-3 col-form-label text-right" style="align-content:start">Vendor Code<span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-sm isNumberKey" name="VendorCode" value="@Model.Obj.VendorCode" maxlength="30" data-required data-msg="The Vendor Code field is required." autocomplete="off" @(Model.Obj.Id <= 0 ? "" : "readonly")>
							</div>
						</div>
						<div class="form-group row">
							<label for="Organization_Name" class="col-sm-3 col-form-label text-right" style="align-content:start">Vendor Company Name<span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-sm" id="Organization_Name" name="Organization_Name" value="@Model.Obj.Organization_Name"
									   data-required data-msg="The Company Name field is required." autocomplete="off">
							</div>
						</div>
						<hr />
						<div class="form-group row">
							<label for="First_Name" class="col-sm-2 col-form-label text-right">First Name <span style="color:red">*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control form-control-sm" name="First_Name" value="@Model.Obj.First_Name" maxlength="50" data-required data-msg="The First Name field is required." autocomplete="off">
							</div>
							<label for="Middle_Name" class="col-sm-2 col-form-label text-right">Middle Name</label>
							<div class="col-sm-4">
								<input type="text" class="form-control form-control-sm" name="Middle_Name" value="@Model.Obj.Middle_Name" maxlength="50" autocomplete="off">
							</div>
						</div>

						<div class="form-group row">
							<label for="Last_Name" class="col-sm-2 col-form-label text-right">Last Name <span style="color:red">*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control form-control-sm" name="Last_Name" value="@Model.Obj.Last_Name" maxlength="50" autocomplete="off">
							</div>
						</div>
						<div class="form-group row">
							<label for="MobileNo" class="col-sm-2 col-form-label text-right">Mobile No. <span style="color:red">*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control form-control-sm isNumberKey" name="MobileNo" maxlength="11" data-required data-msg="The Mobile No. field is required." autocomplete="off" value="@Model.Obj.MobileNo">
							</div>
							<label for="Email_Id" class="col-sm-2 col-form-label text-right">Email <span style="color:red">*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control form-control-sm" name="Email_Id" data-required data-msg="The Email field is required." autocomplete="off" value="@Model.Obj.Email_Id">
							</div>
						</div>
						@*
						<div class="form-group row">
						<label for="Print_Label_Qty" class="col-sm-2 col-form-label text-right">Max QR Code / Per File <span style="color:red">*</span></label>
						<div class="col-sm-4">
						<input type="text" class="form-control form-control-sm isNumberKey_Decimal" name="Print_Label_Qty" autocomplete="off" value="@(Model.Obj.Print_Label_Qty > 0?Model.Obj.Print_Label_Qty.ToString():"")">
						</div>
						</div>
						*@
						<div class="row no-gutters p-0 m-0 d-none">
							<div class="col-12 card card-primary p-0 m-0 shadow-none mt-3">
								<div class="form-group row">
									<label for="SiteCode" class="col-sm-2 col-form-label">Site Code <span style="color:red">*</span></label>
									<div class="col-sm-4">
										<input type="text" class="form-control form-control-sm isNumberKey" name="SiteCode" readonly>
									</div>
									<label for="SiteName" class="col-sm-2 col-form-label">Site Name <span style="color:red">*</span></label>
									<div class="col-sm-4">
										<input type="text" class="form-control form-control-sm" name="SiteName" readonly>
									</div>
								</div>


								<div class="form-group row">
									<label for="Alt_Mobile_No" class="col-sm-2 col-form-label">Mobile No.</label>
									<div class="col-sm-4">
										<input type="text" class="form-control form-control-sm isNumberKey" name="Alt_Mobile_No" readonly>
									</div>
									<label for="Alt_Email_Id" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-4">
										<input type="text" class="form-control form-control-sm" name="Alt_Email_Id" readonly>
									</div>
								</div>
								<div class="form-group row">
									<label for="Full_Address" class="col-sm-2 col-form-label">Address <span style="color:red">*</span></label>
									<div class="col-sm-10">
										<input type="text" class="form-control form-control-sm" name="Full_Address" readonly>
									</div>
								</div>
								<div class="form-group row">
									<label for="City" class="col-sm-2 col-form-label">City</label>
									<div class="col-sm-2">
										<input type="text" class="form-control form-control-sm" name="City" readonly>
									</div>

									<label for="City" class="col-sm-2 col-form-label">State</label>
									<div class="col-sm-2">
										<input type="text" class="form-control form-control-sm" name="State_Name" readonly>
									</div>

									<label for="City" class="col-sm-2 col-form-label">Country</label>
									<div class="col-sm-2">
										<input type="text" class="form-control form-control-sm" name="Country_Name" readonly>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

			<div class="panel-divider">
				<span>Site Details</span>
				<div class="row no-gutters p-0 m-0">
					<div class="col-md-12 my-1">
						<table id="tbl_Vendor_DB" class="table table-bordered table-striped w-100">
							<thead>
								<tr>
									<th width="5%">#</th>
									<th>Site Code</th>
									<th>Site Name</th>
									<th>City</th>
									<th>Mobile No</th>
									<th>Email Id </th>
								</tr>
							</thead>
							<tbody>
								@if (Model.ListObj != null && Model.ListObj.Count() > 0)
								{
									foreach (var item in Model.ListObj)
									{
										<tr>
											<td>
												@if (item.VendorCode == item.VendorCode_Temp)
												{
													<div class="icheck-primary d-inline mr-5">
														<input type="radio" id="radioPrimary_@item.SiteCode" name="Vendor_Site" data-id="@item.Id" data-sitecode="@item.SiteCode"
															   onchange="fnChange_Site(this)">
														<label for="radioPrimary_@item.SiteCode"> &nbsp;</label>
													</div>
												}
											</td>
											<td>@item.SiteCode</td>
											<td>@item.SiteName</td>
											<td>@item.City</td>
											<td>@item.Alt_Mobile_No</td>
											<td>@item.Alt_Email_Id</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>

		</div>

	</div>
</div>
