@model (string SearchTerm, List<dynamic> listPallate, bool isPrint, bool withDetail)

@{
	ViewData["Title"] = "MDA - Pallate Details";
}

@if (Model.isPrint == false && string.IsNullOrEmpty(Model.SearchTerm))
{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
else if (Model.isPrint == true)
{
	Layout = "~/Views/Shared/_Layout_Print.cshtml";
}

@if (Model.isPrint == false && string.IsNullOrEmpty(Model.SearchTerm))
{
	<section class="content-header bg-gradient-green" style="border-radius: 0.25rem">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="text-align:center;">
					<h3 class="font-weight-bold">MDA - Pallate Details</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="content p-0">
		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-12 card">
					<div class="card-body pb-0">
						<div class="panel-divider">
							<span>Search Details</span>
							<div class="row no-gutters p-0 m-0">
								<div class="col-10 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
									<div class="form-horizontal">
										<div class="card-body py-1 px-0">

											<div class="form-group row">
												<label for="inputSearch" class="col-sm-2 col-form-label text-right">MDA No.</label>
												<input type="text" id="inputSearch" class="col-sm-3 form-control form-control-sm" autocomplete="off" />
											</div>
																						
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label text-right">With Detail </label>
                                                <div class="col-sm-4">
                                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success border-0">
                                                        <input type="checkbox" class="custom-control-input" id="switch_Status" onchange="fnChange_Switch(this, 'label_Switch_Status')">
                                                        <label class="custom-control-label pt-2" for="switch_Status" id="label_Switch_Status" data-true="Yes" data-false="No">No</label>
                                                    </div>
                                                </div>
                                            </div>
											
                                            <div class="form-group row col-sm-4 offset-sm-2 text-center ml-5 pl-5">
                                                <button type="button" class="btn btn-info btn-flat" onclick="fnLoad_DataTable()">Search</button>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel-divider">
							<span>MDA - Pallate Details </span>
							<div class="row no-gutters p-0 m-0">
								<div class="col-12 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
									<div class="card-body py-1 px-0" id="div_DataTable"></div>
								</div>
							</div>
						</div>

					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClear()">Clear</button>
						<span class="float-right mr-3"><span class="text-danger">*</span> Mandatory Fields</span>
					</div>
				</div>
			</div>
		</div>
	</section>

}
else if (Model.isPrint == true && Model.listPallate != null && Model.listPallate.Count() > 0)
{
	<div class="row col-12 mb-3">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="text-align:center;">
					<h2 class="font-weight-bold">@(Model.listPallate != null && !string.IsNullOrEmpty(Model.listPallate[0].Plant_Name) ? Model.listPallate[0].Plant_Name : "IFFCO NANO FERTILIZER PLANT - KALOL") </h2>
				</div>
				<br />
				<div class="col-sm-12" style="text-align:center;">
					<h2 class="font-weight-bold">@((Model.withDetail == false) ? "MDA wise Pallate Summary" : "MDA wise Pallate Details")</h2>
				</div>
				<br />
				<div class="col-sm-12" style="text-align:right;">
					<h5 class="font-weight-bold"><b>Printed on : @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt").Replace("-", "/")</b></h5>
				</div>
			</div>
		</div>
	</div>
}
else if (Model.listPallate != null && Model.listPallate.Count() > 0)
{
	<div class="form-group row mb-3">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="text-align:center;">
					<h2 class="font-weight-bold" id="lableReportTitle">@((Model.withDetail == false) ? "MDA wise Pallate Summary" : "MDA wise Pallate Details")</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row mt-2">
		<button class="btn btn-info mr-2" onclick="fnPrint_Report('@Url.Action("MDA_Wise_Pallate","Reports", new { area = "Export"})?searchTerm=@(Model.SearchTerm)&isPrint=true')">Print</button>
	</div>
}

@if (Model.listPallate != null && Model.listPallate.Count() > 0)
{
	<div class="row col-12 mt-5">

		<table id="table_Common_Main" class="table table-bordered w-100">
			<tbody>
				<tr>
					<td>Export Indent No. : <b>@Model.listPallate[0].DI_No</b></td>
					<td>MDA No. : <b>@Model.listPallate[0].MDA_No</b></td>
					<td>Party Name : @Model.listPallate[0].Party_Name</td>
				</tr>
				<tr>
					<td>No. of Shipper : <b>@Model.listPallate[0].Required_Shipper</b> &nbsp;&nbsp;&nbsp; No. of Bottle : <b>@Model.listPallate[0].Bag_Nos</b></td>
					<td>Dispatch Place : @Model.listPallate[0].Desp_Place</td>
					<td>Distance : @Model.listPallate[0].Dist</td>
				</tr>
			</tbody>
		</table>

		@if (Model.listPallate != null && ((List<dynamic>)Model.listPallate).Count() > 0)
		{
			<table id="table_Common" class="table table-bordered w-100">
				<tbody>

					@{
						List<dynamic> listVehicle = ((List<dynamic>)Model.listPallate)
						.GroupBy(x => new { x.Vehicle_No, x.Gate_In_dt, x.Gate_Out_dt })
						.Select(x => new
						{
							Vehicle_No = x.Key.Vehicle_No,
							Gate_In_dt = x.Key.Gate_In_dt,
							Gate_Out_dt = x.Key.Gate_Out_dt,
							Expected_Shipper = x.Sum(y => (decimal)y.Expected_Shipper),
							Loaded_Shipper = x.Sum(y => (decimal)y.Loaded_Shipper),
							Pallate_Count = x.Count()
						})
						.ToList<dynamic>();
					}

					@foreach (var item in listVehicle)
					{
						<tr style="background-color: rgba(0, 0, 0, .05);">
							<td colspan="2">Vehicle No. : <b>@item.Vehicle_No</b></td>
							<td colspan="2">Gate In Date & Time : <b>@item.Gate_In_dt</b></td>
							<td colspan="2">Gate Out Date & Time : <b>@item.Gate_Out_dt</b></td>
						</tr>

						<tr style="background-color: rgba(0, 0, 0, .05);">
							<td colspan="2">No. of Pallate : <b>@item.Pallate_Count</b> </td>
							<td colspan="4">No. of Shipper : <b>@item.Expected_Shipper</b></td>
						</tr>

						<tr>
							<td colspan="6" class="border-0 border-right">

								<dl class="row">
									@{
										List<dynamic> list = ((List<dynamic>)Model.listPallate).Where(x => x.Vehicle_No == item.Vehicle_No).OrderBy(x => x.Sr_No).ToList();

										if (list != null && list.Count() > 0)
										{
											<dt class="col-sm-2">Pallate(s):</dt>											
											<dd class="col-sm-10 row">
												
												@foreach (dynamic itemPallate in list)
												{
													<div class="@(Model.withDetail == true ? "col-6":"col-sm-4 col-6")">
														<div class="description-block border-0 text-left m-0">
															<span class="description-text @(Model.withDetail == true ? "text-bold":"")">@itemPallate.Sr_No. &nbsp; @itemPallate.Pallate_No</span>
															
															@if (Model.withDetail == true)
															{
																List<string> listQRCode = ((List<Dispatch_System.Pallate_Shipper>)itemPallate.Shipper_QR_Code)
																			.Select(x => x.QR_Code).ToList();

																<ul class="list-unstyled mt-1">
																  <li>Shipper QR Code(s) : 
																	<ol>
																	@foreach (var qr_code in listQRCode)
																	{
																		<li>@qr_code</li>
																	}
																	</ol>
																  </li>
																</ul>
															}
														</div>
													</div>
												}												
											</dd>
										}
										else
										{
											<dt class="lead">No any Pallate(s) loaded.</dt>
										}

									}
								</dl>

							</td>
						</tr>

						<tr><td colspan="6" class="border-0 border-top">&nbsp;</td></tr>
					}
				</tbody>
			</table>
		}

	</div>

}



@if (Model.isPrint == false && string.IsNullOrEmpty(Model.SearchTerm))
{
	@section Scripts {

	<script type="text/javascript">

		var divToPrint_HTML = '';

		$(document).ready(function () {

		});

		function printDiv($selector) {

			var divToPrint = $($selector);

			var newWin = window.open('', 'Print-Window');

			newWin.document.open();

			let tagToAdd_html = document.createElement('html');

			let tagToAdd_body = document.createElement('body');

			tagToAdd_body.appendChild(divToPrint_HTML);

			tagToAdd_html.appendChild(tagToAdd_body);

			newWin.document.appendChild(tagToAdd_html);

			newWin.document.close();

		}

		function fnLoad_DataTable() {

			ShowLoader(true);

			$('#div_DataTable').html('');

			var url = '';

			var searchTerm = $('#inputSearch').val();

			if (typeof searchTerm != 'undefined' && searchTerm != null && searchTerm.length > 0) {

				url = '@Url.Action("MDA_Wise_Pallate", "Reports", new { area = "Export" })?searchTerm=' + searchTerm;

				url = url + '&withDetail=' + $('#switch_Status').is(':checked');

				$.ajax({
					type: "GET",
					url: url,
					data: null,
					contentType: "application/json; charset=utf-8",
					dataType: "html",
					success: function (response) {

						setTimeout(function () {

							$('#div_DataTable').html(response);

							ShowLoader(false);

						}, 1000);

					},
					failure: function (response) { CommonAlert_Error(null) },
					error: function (response) { CommonAlert_Error(null) }
				});

			}
			else { ShowLoader(false); }
		}

		function fnClear() {

			$('#inputSearch').val('');
			$('#div_DataTable').html('');

		}

		function fnPrint_Report($url) {
			
            $url = $url + '&withDetail=' + $('#switch_Status').is(':checked');

			var printWindow = window.open($url, '_blank');

			if (printWindow) {
				printWindow.onload = function () {
					printWindow.print();
				};
			}
		}

	</script>
	}
}