@model List<GateIn>

<div class="row col-12 mb-3">
    <button type="button" class="btn btn-info btn-flat px-3 mr-3" onclick="fnSelect_PO()">Select</button>
    <button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClear_PO()">Clear</button>
    <button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClose_PO()">Close</button>
</div>

<div class="row col-12 w-100">
    <table id="table_Common" class="table table-bordered table-striped w-100">
        <thead>
            <tr>
				<th width="5%">Vehicle Number</th>
				<th width="5%">SO Number</th>
				<th width="10%">Gate In Dt</th>
				<th>Driver Name</th>
				<th>Driver Contact</th>
				<th>Transporter Name</th>
				<th>Plant Code</th>
				<th hidden width="0%"></th>
				<th hidden width="0%"></th>
				<th>Tare Wt</th>
				<th>Tare Wt Dt</th>
				<th hidden width="0%"></th>
				<th hidden width="0%"></th>
				<th hidden width="0%"></th>
				<th hidden width="0%"></th>
				<th hidden width="0%"></th>
			</tr>
            @*<tr>
                <th width="5%">Truck No</th>
                <th width="5%">SO Number</th>
                <th width="10%">SO Date</th>
                <th>Release Date</th>
                <th>Customer Name</th>
                <th>TPTR Code</th>
                <th>TPTR Name</th>
                <th>Contact No</th>
                <th>Site Name</th>
                <th>Address</th>
                <th>Status</th>
                <th hidden>Gate_In_Id</th>
            </tr>*@
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
						<td>@item.Truck_No</td>
						<td>@item.Common_No</td>
						<td>@item.Gate_In_Dt</td>
						<td>@item.Driver_Name</td>
						<td>@item.Driver_Contact</td>
						<td>@item.Transporter_Name</td>
						<td>@item.Plant_CD</td>
						<td hidden width="0%">@item.Id</td>
						<td hidden width="0%">@item.Plant_Id</td>
						<td>@item.Tare_Wt</td>
						<td>@item.Tare_Wt_Dt</td>
						<td hidden width="0%">@item.Verified_Documents</td>
						<td hidden width="0%">@item.GateIn_Id</td>
						<td hidden width="0%">@item.Driver_Id_Type</td>
						<td hidden width="0%">@item.Driver_Id_Number</td>
						<td hidden width="0%">@item.UOM</td>
					</tr>
                    @*<tr>
                        <td>@item.Truck_No</td>
                        <td>@item.SoNo</td>
                        <td>@item.SoDate_Text</td>
                        <td>@item.SoReleaseDate_Text</td>
                        <td>@item.CustName</td>
                        <td>@item.Transporter_Code</td>
                        <td>@item.Transporter_Name</td>
                        <td>@item.TelNo</td>
                        <td>@item.SiteName</td>
                        <td>@item.Add1</td>
                        <td>@item.Status</td>
                        <td hidden>@item.Gate_In_Id</td>
                        <td hidden width="0%">@item.Driver_Id_Type</td>
                <td hidden width="0%">@item.Driver_Id_Number</td>
                    </tr>*@
                }
            }
        </tbody>
    </table>
</div>