@model ResponseModel<LOV>

@{
	ViewData["Title"] = "LOV";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
	<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<style>
		.eye-pass {
			position: absolute;
			margin-top: 15px;
			top: -4px;
			right: 0;
			margin-right: 35px;
			cursor: pointer;
		}

		input[type=password]::-ms-reveal,
		input[type=password]::-ms-clear {
			display: none;
		}

		.col-form-label {
			text-align: right !important;
		}
	</style>
}

<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">LOV</h1>
			</div>
			<div class="col-sm-6">
				<div class="float-sm-right">
					@*@if (Model.IsCreate == true)
					{*@
					<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2" onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditFormLovDtl","LOV", new {  area = "Admin" })?LOV_Column=@ViewBag.Lov_Column&Column_For=@ViewBag.Column_For&Display_Seq_No=@ViewBag.Display_Seq_No');">
						<i class="fas fa-plus"></i> &nbsp; Add new item
					</button>
					<button type="button" class="btn btn-primary btn-sm" title="Back To Lov List" onclick="fnBackToList('@Url.Action("Index","LOV", new { Area = "Admin" })')"> <i class="fas fa-arrow-left"></i> Back To Lov List </button>
					@*}*@
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">
	<div class="container-fluid">
		<div class="row no-gutters divformSave_Display d-none" style="margin: 5px !important;">
			<div class="col-12">
				@*<form id="formSave" action="@Url.Action("Save","LOV", new {  area = "Admin"})" method="post">*@
				<form id="formSavelovdtl" asp-area="Admin" asp-controller="LOV" asp-action="SaveLovDtl" method="post" class="form-horizontal" enctype="multipart/form-data">
					<div class="row no-gutters" id="divformSave"></div>
					<div class="clearfix"></div>
					<hr />
				</form>
			</div>
		</div>
		<div class="row" id="divList">
			<div class="col-12">
				<div class="card card-primary card-outline">

					<div class="card-body">
						<div class="row no-gooters">
							<div class="col-md-12 my-1">
								<table id="table_Common_SrNo" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Code</th>
											<th>Description</th>
											<th>Display Seq No</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model.ListObj)
										{
											<tr>
												<td></td>
												<td>@item.Lov_Code</td>
												<td>@item.Lov_Desc</td>
												<td>@item.Display_Seq_No</td>
												<td>
													<div class="btn-group">

														<button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
																onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditFormLovDtl","LOV", new {  area = "Admin" })?Lov_Column=@item.Lov_Column.Replace(" ","%20")&Column_For=@item.Column_For.Replace(" ","%20")&Lov_Code=@item.Lov_Code.Replace(" ","%20")')">
															<i class="far fa-edit"></i>
														</button>

														<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
																onclick="fnDelete_Confirm('@Url.Action("DeleteLovDtlConfirmed","LOV", new {  area = "Admin" })?Lov_Column=@item.Lov_Column&Column_For=@item.Column_For.Replace(" ","%20")&Lov_Code=@item.Lov_Code', '#table_Common_SrNo');">
															<i class="far fa-trash-alt"></i>
														</button>
													</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts{

	<script type="text/javascript">

		$(document).on("change", 'input[name="Obj.Tag_Data_Type"]', function (e) {

			

			$('input.Tag_Value').val('')

			if (e.target.id == 'Tag_Data_Type_Alphanumeric') {
				$('input.Tag_Value').removeClass('isNumberKey');
			} else {
				$('input.Tag_Value').addClass('isNumberKey');
			}

			$('input.Tag_Value').trigger('change')
		});


		function fnChangeIcon() {
			const togglePassword = document.querySelector('#togglePassword');
			const password = document.querySelector('#password');
			const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
			password.setAttribute('type', type);
			togglePassword.classList.toggle('fa-eye-slash');
		}
		function getstatelist() {
			
			$("#State_Id").empty();
			$("#District_Id").empty();
			$.ajax({
				type: 'POST',
				url: "@Url.Action("GetStateList","LOV")",
				dataType: 'json',
				data: { Country_Id: $('#Country_Id').val() }

			})
				.done(function (state) {
					$.each(state, function (i, state) {
						$("#State_Id").append('<option value="' + state.value + '">' +
							state.text + '</option>');
					});
				}).fail(function (xhr) {
					console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
				});
			return false;
		}
		function GetDistrictList() {
			
			$("#District_Id").empty();
			$.ajax({
				type: 'POST',
				url: "@Url.Action("GetDistrictList","LOV")",
				dataType: 'json',
				data: { State_Id: $('#State_Id').val() }

			})
				.done(function (district) {

					$.each(district, function (i, district) {

						$("#District_Id").append('<option value="' + district.value + '">' +
							district.text + '</option>');
					});
				}).fail(function (xhr) {
					console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
				});
			return false;
		}
	</script>
}

