@model ResponseModel<QRCodeGeneration>
@{
	Layout = null;
	var IndexPageUrl = "/" + ViewContext.RouteData.Values["Area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString() + "/Index";
}

<div class="col-12">
	<form id="formSave" asp-area="Admin" asp-controller="QRCode" asp-action="Save_Receipt" method="post" class="form-horizontal" enctype="multipart/form-data">

		<div class="row no-gutters p-0 m-0">
			<input type="text" class="form-control d-none" name="viewModel[0].Id" value="@Model.Obj.Id">
			<input type="text" class="form-control d-none" id="PlantId" name="viewModel[0].PlantId" value="@Model.Obj.PlantId">
			<input type="text" class="form-control d-none" id="VPO_Id" name="viewModel[0].VPO_Id" value="@Model.Obj.VPO_Id">
			<input type="text" class="form-control d-none" id="VendorId" name="viewModel[0].VendorId" value="@Model.Obj.VendorId">

			<div class="row no-gutters p-0 m-0">
				<div class="col-12 card card-primary p-0 m-0 shadow-none mt-3">
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="align-content:start">Request No</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.RequestNo" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Request Date</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.RequestDate_Text" autocomplete="off" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="align-content:start">Vendor Code</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.VendorCode" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Vendor</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.VendorName" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Vendor Site</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.VendorSiteName" autocomplete="off" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="align-content:start">PO No</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.PO_Number" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">PO Date</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.PO_Date_Text" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">PO Line Item</label>
						<div class="col-sm-3">
							<div class="input-group mb-2">
								<div class="input-group-prepend"> <div class="input-group-text form-control-sm">@Model.Obj.LineItemNo</div> </div>
								<input type="text" class="form-control form-control-sm" value="@Model.Obj.LineItemDesc" autocomplete="off" readonly>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="align-content:start">SKU Description</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.SkuDesc" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Total Quantity</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.TotalQty" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Required Quantity</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.RemainQty" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Remaining Quantity</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" value="@Model.Obj.RemainQty" autocomplete="off" readonly>
						</div>
					</div>

					<hr />

					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="align-content:start">Consignment No. </label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm isNumberKey" value="@Model.Obj.ConsignmentNo" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Consignment Date </label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm datepicker" name="ConsignmentDate_Text" data-value="@Model.Obj.ConsignmentDate_Text" autocomplete="off" readonly>
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Shipment Details</label>
						<div class="col-sm-4">
							<input type="text" class="form-control form-control-sm isNumberKey" value="@Model.Obj.ConsignmentNo" autocomplete="off" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1 col-form-label" style="align-content:start">Received Date <span style="color:red">*</span></label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm datepicker" name="viewModel[0].EstimateDate_Text" data-value="@Model.Obj.EstimateDate_Text"
								   data-min="@DateTime.Now.ToString("dd/MM/yyyy").Replace("-", "/")" autocomplete="off">
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Received By <span style="color:red">*</span></label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm" name="viewModel[0].ReceivedBy" value="@Common.Get_Session(SessionKey.USER_NAME)" autocomplete="off">
						</div>
						<label class="col-sm-1 col-form-label" style="align-content:start">Received Quantity</label>
						<div class="col-sm-2">
							<input type="text" class="form-control form-control-sm isNumberKey" name="viewModel[0].RequestQty" value="@Model.Obj.RequestQty" autocomplete="off">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row no-gutters p-0 m-0">
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-success btnSubmit">Save</button>
				<button type="button" class="btn btn-danger" onclick="fnClose_Modal();">Cancel</button>
			</div>
		</div>
		<div class="clearfix"></div>
	</form>
</div>
